body {
  background: $backgroundColor;
  color: $bodyColor;
  font-family: $bodyFont;
}

.resume-title {
  margin-bottom: 1rem;
  padding-top: 0.75rem;
}

.examples > h1 {
  margin-bottom: 1.25rem;
}

.section > h2 {
  color: blue;
}

.period-time {
  color: darkblue;
}

.job-title {
  color: red;
  font-weight: bold;
}

.job-title > h4 {
  margin-bottom: 0rem;
}

.company {
  color: lightblue;
}

.position-details {
  margin-top: .5rem;
}
