body {
  background: $backgroundColor;
  color: $bodyColor;
  font-family: $bodyFont;
}

.resume > h1 {
  margin-left: -2.2rem;
  margin-top: -0.95rem;
  margin-bottom: 1rem;

  padding-top: 0.75rem;
}

.examples > h1 {
  margin-bottom: 1.25rem;
}
